<html>
  <head>
    <meta charset="utf-8">
    <title>議題列表</title>
  </head>
  <body style='font-family:DFKai-sb; background-color: #ffdeb5; background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");'>
	<h1 align="center">議題列表<h1>
	<div id = "conlist"></div>
	<ul>
	{% for user in whole_list %}
	  <li><a href="{{'/texts?name_id=%s'%user['complain_id']}}">
	  {% if user["complain_id"]|length < 20 %}
	  {{user["complain_id"]}}
	  {% else %}
	  {{user["complain_id"][:20]}}
	  {% endif%}
	  </a></li>
	{% endfor %}
	</ul> 
  </body>
</html>